In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

/home/gabrielmayer/.local/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/gabrielmayer/.local/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/gabrielmayer/.local/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/gabrielmayer/.local/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/gabrielmayer/.local/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/gabrielmayer/.local/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/gabrielmayer/.local/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/gabrielmayer/.local/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/gabrielmayer/.local/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/gabrielmayer/.local/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/gabrielmayer/.local/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/gabrielmayer/.local/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [2]:
dataset = pd.read_csv('twitter_dataset.csv')

dataset.head()

   Unnamed: 0  sentiment                                               text
0           0          0  is upset that he can't update his Facebook by ...
1           1          0  @Kenichan I dived many times for the ball. Man...
2           2          0    my whole body feels itchy and like its on fire
3           3          0  @nationwideclass no, it's not behaving at all....
4           4          0                      @Kwesidei not the whole crew

In [3]:
dataset.info

<bound method DataFrame.info of          Unnamed: 0  sentiment  \
0                 0          0
1                 1          0
2                 2          0
3                 3          0
4                 4          0
...             ...        ...
1048570     1048570          4
1048571     1048571          4
1048572     1048572          4
1048573     1048573          4
1048574     1048574          4

                                                      text
0        is upset that he can't update his Facebook by ...
1        @Kenichan I dived many times for the ball. Man...
2          my whole body feels itchy and like its on fire
3        @nationwideclass no, it's not behaving at all....
4                            @Kwesidei not the whole crew
...                                                    ...
1048570           My GrandMa is making Dinenr with my Mum
1048571  Mid-morning snack time... A bowl of cheese noo...
1048572  @ShaDeLa same here  say it like from the Termi...
1048573             @DestinyHope92 im great thaanks  wbuu?
1048574               cant wait til her date this weekend

[1048575 rows x 3 columns]>

In [4]:
dataset[dataset['sentiment'] != 0]

,Unnamed: 0,sentiment,text
799999,799999,4,I LOVE @Health4UandPets u guys r the best!!
800000,800000,4,im meeting up with one of my besties tonight! ...
800001,800001,4,"@DaRealSunisaKim Thanks for the Twitter add, S..."
800002,800002,4,Being sick can be really cheap when it hurts t...
800003,800003,4,@LovesBrooklyn2 he has that effect on everyone
...,...,...,...
1048570,1048570,4,My GrandMa is making Dinenr with my Mum
1048571,1048571,4,Mid-morning snack time... A bowl of cheese noo...
1048572,1048572,4,@ShaDeLa same here say it like from the Termi...
1048573,1048573,4,@DestinyHope92 im great thaanks wbuu?
1048574,1048574,4,cant wait til her date this weekend

In [5]:
dataset.drop(columns=['Unnamed: 0'], inplace=True)

In [6]:
dataset.head()

   sentiment                                               text
0          0  is upset that he can't update his Facebook by ...
1          0  @Kenichan I dived many times for the ball. Man...
2          0    my whole body feels itchy and like its on fire
3          0  @nationwideclass no, it's not behaving at all....
4          0                      @Kwesidei not the whole crew

In [13]:
dataset.info

<bound method DataFrame.info of          sentiment                                               text
0                0  is upset that he can't update his Facebook by ...
1                0  @Kenichan I dived many times for the ball. Man...
2                0    my whole body feels itchy and like its on fire
3                0  @nationwideclass no, it's not behaving at all....
4                0                      @Kwesidei not the whole crew
...            ...                                                ...
1048570          4           My GrandMa is making Dinenr with my Mum
1048571          4  Mid-morning snack time... A bowl of cheese noo...
1048572          4  @ShaDeLa same here  say it like from the Termi...
1048573          4             @DestinyHope92 im great thaanks  wbuu?
1048574          4               cant wait til her date this weekend

[1048575 rows x 2 columns]>

In [40]:
dataset.info

<bound method DataFrame.info of          sentiment                                               text
0                0  is upset that he can't update his Facebook by ...
1                0  @Kenichan I dived many times for the ball. Man...
2                0    my whole body feels itchy and like its on fire
3                0  @nationwideclass no, it's not behaving at all....
4                0                      @Kwesidei not the whole crew
...            ...                                                ...
1048570          4           My GrandMa is making Dinenr with my Mum
1048571          4  Mid-morning snack time... A bowl of cheese noo...
1048572          4  @ShaDeLa same here  say it like from the Termi...
1048573          4             @DestinyHope92 im great thaanks  wbuu?
1048574          4               cant wait til her date this weekend

[1048574 rows x 2 columns]>

In [27]:
m = dataset.text == '.............................'
dataset.where(~m, other='')

         sentiment                                               text
0                0  is upset that he can't update his Facebook by ...
1                0  @Kenichan I dived many times for the ball. Man...
2                0    my whole body feels itchy and like its on fire
3                0  @nationwideclass no, it's not behaving at all....
4                0                      @Kwesidei not the whole crew
...            ...                                                ...
1048570          4           My GrandMa is making Dinenr with my Mum
1048571          4  Mid-morning snack time... A bowl of cheese noo...
1048572          4  @ShaDeLa same here  say it like from the Termi...
1048573          4             @DestinyHope92 im great thaanks  wbuu?
1048574          4               cant wait til her date this weekend

[1048575 rows x 2 columns]

In [28]:
# Put into list:

sentences = dataset['text'].tolist()
labels = dataset['sentiment'].tolist()

# Split into train and text:

training_size = int(len(sentences) * 0.8)

training_sentences = sentences[0: training_size]
testing_sentences = sentences[training_size:]
training_labels = labels[0: training_size]
testing_labels = labels[training_size:]

# Put labels into array to use in the NN:

training_labels_final = np.array(training_labels)
testing_labels_final = np.array(testing_labels)

In [31]:
# Setting values to prepare data:

vocab_size = 500
embedding_dim = 16
max_length_sentences = 50
trunc_type = 'post'
padding_type = 'post'
oov_tok = '<OOV>'

In [32]:
# Tokenizing and Padding:

# Training:
tokenizer = Tokenizer(num_words=vocab_size, oov_token=oov_tok)
tokenizer.fit_on_texts(training_sentences)
word_index = tokenizer.word_index

training_sequences = tokenizer.texts_to_sequences(training_sentences)
training_padded = pad_sequences(training_sequences, maxlen=max_length_sentences, padding=padding_type, truncating=trunc_type)

# Testing:

testing_sequences = tokenizer.texts_to_sequences(testing_sentences)
testing_padded = pad_sequences(testing_sentences, maxlen=max_length_sentences, padding=padding_type, truncating=trunc_type)

ValueError: invalid literal for int() with base 10: 'do u feel me ?  let me know.......................'

In [ ]:
d = dataset[dataset['text'] == 'do u feel me ?  let me know']

In [ ]:
d

In [25]:
type(training_sentences)

list